*{
    background: teal; 
}

@font-face {
    font-family: slant;
    src: url(SLANT.TTF);
}
#Logo {
    font-family: slant;
    text-align: center;
    font-size: 100px;
    margin-top: 3rem;
    color: #ff6701;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    width: 100%;
}
.nav-bar {
    background:#fea82f ;
    height: 50px;
    width: 100%;
    border-radius: 20px;
    margin: 0%;
    padding: 0%;
    
}

.home-btn {
    cursor: pointer;
    color: black;
    background: #fcecdd;
    border-radius: 10px;
    height: 50px;
    
}

.home-btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: teal;
}


.search-bar {
    position: absolute;
    top: 20%;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fea82f;
    height: 40px;
    border-radius: 30px;
    padding: 10px;
    width: 1000px;
    display: flex;
}

.search-btn {
    cursor: pointer;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fcecdd;
    align-items: center;
}

.search-btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: teal;
}

.search-text {
    border:none;
    background: none;
    outline: none;
    float: left;
    pad: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    margin-top:4px ;
    width: 950px;
    border-radius: 30px;
    text-align: center;

}

#fav {
    text-align: center;
    color: #ff6701;
    font-size: 100px ;
    font-family: slant;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.container {
    justify-content: center;
    background: transparent;
    border-style: solid;
    border-color: #ff6701;
    border-radius: 10px;
    width: 100%;
    height: 100em
}




