* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  min-height: 100vh;
  background-image: linear-gradient(
    to right top,
    #fea82f,
    #ffb95f,
    #ffca8a,
    #ffdbb3,
    #fcecdd,
}

.navbar {
  background-color:hsl(0, 0%, 21%);
}

.navbar-item {
  color: #fea82f;
  text-shadow: 3px 3px 5px #000000;
}

.navbar-brand {
  font-family: "Anton", sans-serif;
}

#Logo {
  text-align: center;
  font-size: 110px;
  font-family: "Anton", sans-serif;
  /* margin-top: 0;
  margin-bottom: 0.75em; */
  text-shadow: 3px 4px 4px #a3650f;
}

#sub-logo {
  font-size: 35px;
  font-family: 'Kanit', sans-serif;
}

.search-bar {
  position: absolute;
  top: 100%;
  /* bottom: 50%; */
  left: 50%;
  transform: translate(-50%, -50%);
  height: 40px;
  border-radius: 30px;
  padding: 30px;
  width: 100%;
  display: flex;
  padding-bottom: 5px;
}

.search-text {
  border: none;
  background: none;
  outline: none;
  float: left;
  pad: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  margin-top: 4px;
  width: 95%;
}

#searchBtn {
  border-radius: 1em;
  border-color:hsl(0, 0%, 21%);
}

#favorite {
  width: 100%;
  background-color:#faa42b ;
  border-radius: 1em;
  border-color:hsl(0, 0%, 21%);
  border-style: groove;
}


.list-group {
  padding: 0;
  list-style: none;
}

.list-item {
  margin-bottom: 10px;
  padding: 1.5%;
  border-radius: var(--border-radius);
  background-color: var(--light-dark);
  color: var(--primary);
  text-decoration: none;
}

#fav {
  text-align: center;
  font-size: 60px;
  font-weight: 500;
  text-shadow: 2px 2px black;
}

.card,
.card-header {
  background-color: rgba(0, 0, 0, 0);
}

/* .container { */
/* background: blanchedalmond; */
/* height: 800px; */
/* } */
